body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: justify;
}

main {
  width: 80%;
  padding-left: 1%;
  padding-right: 1%;
}

hr {
  width: 80%;
}

.container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.90);
}

.sidebar {
  background-color: #203864;
  width: 30%;
  max-width: 170px;
}

.sidebar hr {
  width: 25%;
}

.foto img {
  border-radius: 50%;
  width: 85%;
  margin: 10% 7%;
}

.experiencia {
  display: flex;
}

.exp-descripcion {
  width: 68%;
}

@media (min-width: 375px) {

  p {
    font-size: .6em;
  }

  /*INICIO SIDEBAR*/
  .sidebar h2 {
    margin: 5px auto;
    color: white;
    text-align: center;
    font-size: 0.8em;
  }

  .sidebar p {
    width: 90%;
    color: white;
    font-size: 0.47em;
    margin: 5px auto;
  }

  /*FIN SIDEBAR*/

  /*INICIO MAIN*/
  .about-me h1 {
    font-size: 1.5em;
    margin: 14px auto;
    padding-left: 7px;
  }

  .about-me p {
    width: 95%;
    font-size: .8em;
    margin: 14px auto;
  }

  main h2 {
    font-size: 1.3em;
    padding-left: 7px;
    margin: 10px;
  }

  .exp-prof {
    padding-left: 7px;
  }

  .exp-prof p,
  .exp-prof li {
    font-size: .6em;
  }

  .exp-prof p {
    margin: 0 7px;
  }

  .exp-prof ul {
    padding-left: 20px;
    margin: 5px auto;
  }

  .exp-prof h3 {
    font-size: .99em;
    margin: 0 7px;
  }

  .exp-prof i {
    font-size: .64em;
    margin: 0 7px;
  }

  .exp-fechas p {
    font-size: .5em;
    margin-top: 4px;
  }

  /*FIN MAIN*/
}

@media (min-width: 768px) {
  p {
    font-size: .8em;
  }

  .sidebar h2 {
    font-size: 1.7em;
  }

  .sidebar p {
    font-size: .775em;
  }

  .about-me h1 {
    font-size: 3em;
  }

  .about-me p {
    font-size: 1em;
  }

  main h2 {
    font-size: 2em;
  }

  .exp-fechas p {
    font-size: .9em;
  }

  .exp-prof h3 {
    font-size: 1.3em;
  }

  .exp-prof i {
    font-size: .9em;
  }

  .exp-prof p,
  .exp-prof li {
    font-size: .8em;
  }
}