body {
  margin: 0;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  text-align: justify;
  background-color: #FBD46D;
  font-family: 'Mulish', sans-serif;
  color: #07031A;
}

main {
  width: 80%;
  padding-left: 1%;
  padding-right: 4%;
  background-color: #FAFAFA;
}

hr {
  width: 80%;
  background-color: #07031A;
  border-color: #07031A;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  color: #F4F6FF;
  text-decoration: underline;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.90);
}

.sidebar {
  background-color: #4F8A8B;
  width: 30%;
  /*max-width: 170px;*/
  /*color: white;*/
}

.sidebar h2 {
  text-align: center;
}

.sidebar p {
  width: 90%;
}

.sidebar hr {
  width: 25%;
}

.foto img {
  border-radius: 50%;
  border-style: groove;
  border-color: #07031A;
  width: 85%;
  margin: 10% 5%;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.90);
}

.contact-me p {
  text-align: right;
}

.idiomas p {
  text-align: center;
}

.about-me p {
  width: 95%;
}

.experiencia {
  display: flex;
}

.exp-descripcion {
  width: 75%;
}

@media (min-width: 375px) {

  p {
    font-size: .6em;
  }

  /*INICIO SIDEBAR*/
  .sidebar h2 {
    margin: 5px auto;
    font-size: 0.8em;
  }

  .sidebar p {
    font-size: 0.37em;
    margin: 5px auto;
  }

  /*FIN SIDEBAR*/

  /*INICIO MAIN*/
  .about-me h1 {
    font-size: 1.5em;
    margin: 14px auto;
    padding-left: 7px;
  }

  .about-me p {
    font-size: .6em;
    margin: 14px auto;
  }

  main h2 {
    font-size: 1.1em;
    padding-left: 7px;
    margin: 10px;
  }

  .exp-prof {
    padding-left: 7px;
  }

  .exp-prof p,
  .exp-prof li {
    font-size: .6em;
  }

  .exp-prof p {
    margin: 0 7px;
  }

  .exp-prof ul {
    padding-left: 20px;
    margin: 5px auto;
  }

  .exp-prof h3 {
    font-size: .79em;
    margin: 0 7px;
  }

  .exp-prof i {
    font-size: .64em;
    margin: 0 7px;
  }

  .exp-fechas p {
    font-size: .5em;
    margin-top: 4px;
    min-width: 86px;
  }

  /*FIN MAIN*/
}

@media (min-width: 425px) {
  .sidebar p {
    font-size: 0.42em;
  }

  exp-prof p,
  exp-prof li {
    font-size: .575em;
  }

  .exp-prof i {
    font-size: .86em;
  }

}

@media (min-width: 768px) {
  p {
    font-size: 1em;
  }

  .sidebar h2 {
    font-size: 1.7em;
  }

  .sidebar p {
    font-size: 1em;
  }

  .about-me h1 {
    font-size: 3em;
  }

  .about-me p {
    font-size: 1.1em;
  }

  main h2 {
    font-size: 2em;
  }

  .experiencia {
    padding-bottom: 15px;
  }

  .exp-fechas p {
    font-size: 1.16em;
    min-width: 171px;
  }

  .exp-prof h3 {
    font-size: 1.5em;
  }

  .exp-prof i {
    font-size: 1.1em;
  }

  .exp-prof li {
    margin-left: 15px;
  }

  .exp-prof p,
  .exp-prof li {
    font-size: 1em;
  }

  #certificacion,
  #educacion {
    font-size: 1.3em;
  }

}